/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@plugin 'daisyui/theme' {
  name: 'skilloraTheme';
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* Brand Color */
  --color-primary: #0ea5e9;
  --color-secondary: #f97316;
  --color-accent: #22c55e;
  --color-neutral: #1f2937;

  /* Background and Surface */
  --color-base-100: #fff7ed; /* Body */
  --color-base-200: #fafafa; /* Card and Nav */

  /* Text Color */
  --color-base-content: #1f2937; /* Default Text Color */

  /* The text on colorfull background */
  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
}

/* Universal */
body {
  font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

/* Navbar */
.active-nav-link-style {
  @apply font-bold text-base md:text-xl lg:text-2xl transition-all duration-500 scale-101 text-secondary;
}

.inactive-nav-link-style {
  @apply font-medium text-sm md:text-base lg:text-lg transition-all duration-500 scale-101;
}

/* Footer */
.footer-animation-speed {
  animation-duration: 5s;
}

.footer-link-li-header {
  @apply lg:text-lg text-secondary font-semibold mb-0.5;
}

.footer-link-list {
  @apply text-xs lg:text-base;
}

/* Desktop Only Shadow */
@media (min-width: 1024px) {
  .box-shadow-signup {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
      rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }
}
